:root {
    --beige: #ffead0;
    --grape: #A393BF;
    --red: #a64253;
    --purple: #2c0e37;
    --sapphire: #1a659e;
    --shadow: rgba(128, 128, 128, .5);
}

body {
    overflow-x: hidden;
}

nav {
    background-color: var(--sapphire);
    padding: 1%;
}

nav a, #contact a, .git, #links a {
    text-decoration: none;
    color: var(--purple);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

nav a:hover, #links a:hover {
    color: var(--beige);
    transform: scale(1.2);
    transition: all 250ms ease;
}

#titles {
    border-left: 2px solid var(--red);
    border-top: 2px solid var(--red);
    padding-bottom: 50px;
}

#box {
    border: 2px solid var(--red);
    padding: 60px;
    position: relative;
    transform: translate(0, -90%);
    z-index: -1;
}

header img {
    width: 50%;
    box-shadow: 6px 6px 6px var(--shadow);
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: var(--purple);
    font-size: 45px;
}

#titles h2, #titles a {
    font-family: 'Inconsolata', monospace;
    color: var(--purple);
    font-size: 30px;
}

#titles a:hover {
    text-shadow: 2px 2px 2px var(--shadow);
}

h3 {
    font-family: 'Permanent Marker', cursive;
    color: var(--purple);
    font-size: 35px;
}

#links div {
    margin-bottom: 5%;
    background-color: var(--sapphire);
    padding: 16px;
}

#about p, #about ul, #projects p, #projects ul, #contact p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

.git:hover {
    transform: skew(-20deg);
    transition: all 250ms ease;
    color: var(--grape);
    text-shadow: 2px 2px 2px var(--shadow);
}

@counter-style arrow {
    system: cyclic;
    symbols: "\27A2";
    suffix: " ";
}

ul {
    list-style: arrow;
    list-style-position: inside;
}

#about ul {
    border-left: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
}

#about p {
    border-right: 2px solid var(--red);
    border-top: 2px solid var(--red);
    padding: 8px;
}

#projects h3 {
    border-bottom: 2px solid var(--red);
    margin: 0 auto;
    padding-top: 24px;
}

#projects img {
    width: 80%;
    border: 6px solid var(--sapphire);
    border-radius: 16px;
}

#projects img:hover {
    border: 6px solid var(--grape);
    transition: all 250ms ease;
}

h4 {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

h5 {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.single {
    padding: 16px;
}

.container {
    padding: 16px;
}

.outside {
    border-left: 2px solid var(--red);
    border-top: 2px solid var(--red);
}

#middle {
    border-right: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
}

#contact div {
    margin: 0 auto;
    font-family: 'Didact Gothic', sans-serif;
    color: var(--purple);
    font-size: 20px;
    font-weight: bolder;
}

#contact div {
    padding-bottom: 16px;
}

footer {
    background-color: var(--sapphire);
    padding-top: 8px;
}

#mail:hover, #linked:hover {
    color: var(--sapphire);
    transform: scale(1.2);
    transition: all 250ms ease;
}

.single li a {
    text-decoration: none;
    color: var(--sapphire);
}

.single li a:hover {
    color: var(--grape);
}